{% extends 'base.html' %}

{% load static %}

{% block body %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/registrado.css' %}">

    <!-- FORMULARIO DE REGISTRO -->
    <div class="container mt-5">
        <form action="#" id="miFormulario2">
            {% csrf_token %}
            <div class="form-group">
                <div class="shadow-none p-3 mb-5 bg-body-tertiary rounded">
                    <div class="row">
                        <div class="row name-div">
                            <label for="txtUsuario" id="username">Usuario:</label>
                            <input onblur="validarFormulario()" id="txtUsuario" type="text" class="form-control text-alert" placeholder="Ingrese su usuario">
                            <small id="valUsuario">Debe ingresar su usuario</small>
                            {{ form.username }}
                        </div>
                        <div class="row">
                            <label for="txtPassword" id="password">Contraseña:</label>
                            <div class="input-group mb-3 pass-div">
                                <input id="txtPassword" type="password" class="form-control" placeholder="Ingrese su contraseña"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                    {{ form.password }}
                                <div>
                                    <button onclick="pass()" class="btn btn-outline-secondary button-class" type="button" id="button-addon2">

                                        <svg id="mostrar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-eye-fill" viewBox="0 0 16 16">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                            <path
                                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                        </svg>


                                        <svg id="ocultar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                            <path
                                                d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <small id="valPassword">Debe ingresar una contraseña válida</small>
                            <button onclick="" class="btn btn-primary">Iniciar Sesion</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- FIN FORMULARIO DE REGISTRO -->
{% endblock %}

{% block script %}
    <!-- scripts -->
    <script src="{% static 'js/registrado.js' %}"></script>
    <script src="{% static 'js/toggle.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    <!-- fin scripts -->
{% endblock %}